.footer {
	padding: 8.2rem 3rem 9.4rem;

	width: 100%;
	min-height: $height_footer;
	flex: 0 0 auto;

	font-size: 1rem;

	will-change: transform;

	background-color: $blue;
}

.footer_row {
	@extend %global_flex_block_row_wrap_flex-start;

	@include bp($point_2, min) {
		margin-right: -20rem;
	}

	@include bp($point_3) {
		flex-direction: column;
	}

}

.footer_col {
	@include bp($point_2, min) {
		padding-right: 20rem;
	}

	&.logo_mod {

		@include bp($point_2, min) {
			width: 23%;
		}


		@include bp($point_3) {
			margin-bottom: 3rem;
		}

	}

	&.info_mod {
		@include bp($point_2, min) {
			width: 77%;
		}
	}
}

.footer_logo {
	width: 21rem;
	height: 5.8rem;
}

.footer_top {
	padding-bottom: 7.4rem;
	margin-bottom: 3rem;

	border-bottom: 1px solid $white;
}

.footer_menu {
	@extend %global_flex_block_row_wrap_flex-start;

	@include bp($point_6 - 1) {
		flex-direction: column;
	}

}

.footer_menu_list {
	@include bp($point_2, min) {
		padding-right: 18rem;

		&:last-child {
			padding-right: 0;
		}

	}

	@include bp($point_3) {
		width: calc(100%/3);
		padding-right: 3rem;
	}

	@include bp($point_4 - 1) {
		width: 50%;
		padding-bottom: 3rem;

		&:last-child {
			width: 100%;
			padding-bottom: 0;
		}
	}

}

.footer_menu_item {
	margin-bottom: 1.2rem;

	color: $white;
	font-size: 1.6rem;

	cursor: pointer;

	&:last-child {
		margin-bottom: 0;
	}

}

.footer_menu_item_link {
	text-decoration: none;
	color: $white;
}

.footer_sponsors_wrap {
	@extend %global_flex_block_row_wrap_flex-start_center;

	padding-bottom: 3rem;
	margin-right: -12rem;
	margin-bottom: -4rem;
}



.footer_sponsor_img_w {
	padding-right: 12rem;
	padding-bottom: 4rem;
}

.footer_sponsor_img {

	@include bp($point_2, min) {
		height: 10rem;
	}

	@include bp($point_4, min) {
		width: 27rem;
	}

	@include bp($point_4 - 1) {
		width: 100%;
	}



}

.footer_bottom_text {
	font-size: 1.4rem;
	color: $white;
	line-height: 1.7;
}