//buttons
.btn_base {
	@extend %black_btn_1;
	@extend %btn_size_1;
}

.btn_v2 {
	@extend %white_btn_1;
	@extend %btn_size_2;
}

.btn_v3 {
	@extend %black_btn_1;
	@extend %btn_size_2;
}

.btn_v4 {
	@extend %transparent_btn;
	@extend %btn_size_2;
}

.btn_v5 {
	@extend %blue_btn_1;
	@extend %btn_size_2;
}

.btn_v6 {
	@extend %grey_btn_1;
	@extend %btn_size_3;
}

.btn_v7 {
	@extend %transparent_btn_2;
	@extend %btn_size_2;
}

.btn_v8 {
	@extend %grey_btn_1;
	@extend %btn_size_2;
}

.btn_v9 {
	@extend %blue_btn_2;
	@extend %btn_size_5;
}

.full_btn {
	width: 100%;
	min-width: 0;
}

.landing_btn {
	@extend %btn_size_4;
	@extend %white_btn_3;

	position: relative;

	svg {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		transition: all .2s ease;
	}
}

.btn_wrap {
	&.right_mod {
		text-align: right;
	}

	&.offset_mod {
		margin-top: 2rem;
	}

	&.offset_side_mod {
		@include bp($point_4, min) {
			margin-right: 5.5rem;
		}

		@include bp($point_4 - 1) {
			width: 100%;
			margin-bottom: 2rem;

			text-align: center;
		}
	}

	&.offset_2_mod {
		margin-bottom: 2.8rem;
	}

	&.landing_mod {
		margin-top: 2.4rem;

		
		@include bp($point_4 - 1) {
			text-align: center;
		}
		
	}
}

// slider

.slider_control {
	position: absolute;

	width: 5.2rem;
	height: 2.2rem;

	color: $black;

	cursor: pointer;
	transition: color .3s;

	&:hover,
	&:focus {
		color: $gray;
	}

	&.hero_mod {
		top: 50%;
		margin-top: -1.1rem;

		&.prev_mod {
			right: calc(100% + 8.4rem);
		}

		&.next_mod {
			left: calc(100% + 8.4rem);
		}
	}

	&.dashboard_mod {
		bottom: 2rem;
		z-index: 1;

		&.prev_mod {
			left: 0;
		}

		&.next_mod {
			left: 6.4rem;
		}


		@include bp($point_3) {
			display: none !important;
		}

	}

	&.panel_mod {
		color: $gray_2;
		top: 50%;
		margin-top: -1.1rem;

		@include bp($point_4 - 1) {
			display: none !important;
		}
	}

	&.prev_mod {
		right: calc(100% + 8.4rem);

		&.panel_mod {
			right: auto;
			left: -6.8rem;
		}
	}

	&.next_mod {
		left: calc(100% + 8.4rem);

		&.panel_mod {
			left: auto;
			right: -6.8rem;
		}
	}
}

.slick-dots {
	&.dashboard_mod {
		@include bp($point_2, min) {
			position: absolute;
		}

		
		@include bp($point_3) {
			position: static;
			
			margin-top: 2rem;
			justify-content: center;
		}
		
		right: 0;
		bottom: 3.4rem;
	}
}

// social

.social_list {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	&.essay_mod {
		margin-left: auto;

		@include bp($point_3) {
			margin-left: 0;
			margin-top: 2rem;
		}
	}
}

.social_item {
	&+& {
		margin-left: 1.8rem;
	}
}

.social_link {
	display: block;
	width: 1.8rem;
	height: 1.8rem;

	&.essay_mod {
		width: 2.6rem;
		height: 2.6rem;

		color: var(--text);
		transition: all .3s;

		&:hover, &:focus {
			color: var(--hover);
			opacity: .8;
		}
	}
}

.essay_sidebar_bottom {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	@include bp($point_3) {
		flex-direction: column;
	}
}

// hero project

.hero_project_content {
	width: calc(61% - 6rem);
	margin-left: auto;

	@include bp($point_4 - 1) {
		width: 100%;
	}
}

.hero_project_text {
	max-width: 66rem;
	margin-bottom: 7rem;

	font-size: 3.5rem;
	line-height: 1.2;
	font-weight: 500;

	@include bp($point_3) {
		margin-bottom: 4rem;
		font-size: 3rem;
	}

	@include bp($point_4 - 1) {
		max-width: 100%;
		font-size: 2.6rem;
	}
}

.hero_project_title {

	font-weight: 400;
	
	@include bp($point_4, min) {
		max-width: 66.4rem;
		margin-left: auto;
	}
	


	font-size: 2rem;
	line-height: 1.5;

	@include bp($point_4 - 1) {
		width: 100%;
		font-size: 1.4rem;
	}
}

//---------------------------------------------theme-switcher
.theme_switcher {
	@extend %global_flex_block_row_nowrap_flex-start_center;
}

.theme_switcher_icon {
	margin-right: 1rem;
	width: 2rem;
	height: 1rem;

	color: var(--text);
}

//---------------------------------------------theme-switcher###

.result_message {
	display: block;

	font-size: 2.4rem;
	text-align: center;
}