.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow_down {
	font-size:(9.44/10)*1rem;
	width:(14.63/9.44)*1em;
}
.icon-arrow_down_grey {
	font-size:(10/10)*1rem;
	width:(15/10)*1em;
}
.icon-arrow_next {
	font-size:(22.42/10)*1rem;
	width:(43.53/22.42)*1em;
}
.icon-arrow_prev {
	font-size:(22.42/10)*1rem;
	width:(43.53/22.42)*1em;
}
.icon-arrow_right {
	font-size:(14.64/10)*1rem;
	width:(9.44/14.64)*1em;
}
.icon-camera {
	font-size:(18.17/10)*1rem;
	width:(27.42/18.17)*1em;
}
.icon-clock {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-close {
	font-size:(12.41/10)*1rem;
	width:(12.2/12.41)*1em;
}
.icon-close_2 {
	font-size:(9.34/10)*1rem;
	width:(9.34/9.34)*1em;
}
.icon-doc {
	font-size:(17.64/10)*1rem;
	width:(14/17.64)*1em;
}
.icon-document_2 {
	font-size:(22.69/10)*1rem;
	width:(18/22.69)*1em;
}
.icon-document_3 {
	font-size:(23.47/10)*1rem;
	width:(20.19/23.47)*1em;
}
.icon-document_4 {
	font-size:(18.99/10)*1rem;
	width:(18.99/18.99)*1em;
}
.icon-download {
	font-size:(14.6/10)*1rem;
	width:(14.6/14.6)*1em;
}
.icon-envelope {
	font-size:(21.8/10)*1rem;
	width:(28.41/21.8)*1em;
}
.icon-essay {
	font-size:(24.36/10)*1rem;
	width:(23.07/24.36)*1em;
}
.icon-eye {
	font-size:(16.81/10)*1rem;
	width:(22.36/16.81)*1em;
}
.icon-facebook {
	font-size:(26.35/10)*1rem;
	width:(26.5/26.35)*1em;
}
.icon-filter {
	font-size:(14.24/10)*1rem;
	width:(21.67/14.24)*1em;
}
.icon-filter_1 {
	font-size:(394/10)*1rem;
	width:(384.38/394)*1em;
}
.icon-heart {
	font-size:(13.5/10)*1rem;
	width:(15.25/13.5)*1em;
}
.icon-info {
	font-size:(23.79/10)*1rem;
	width:(23.79/23.79)*1em;
}
.icon-like {
	font-size:(18/10)*1rem;
	width:(20/18)*1em;
}
.icon-list {
	font-size:(10.62/10)*1rem;
	width:(14.93/10.62)*1em;
}
.icon-navigation {
	font-size:(23/10)*1rem;
	width:(19/23)*1em;
}
.icon-power {
	font-size:(14.39/10)*1rem;
	width:(13.1/14.39)*1em;
}
.icon-profile-01 {
	font-size:(38/10)*1rem;
	width:(38/38)*1em;
}
.icon-resize {
	font-size:(22.22/10)*1rem;
	width:(22.23/22.22)*1em;
}
.icon-rotation {
	font-size:(36.26/10)*1rem;
	width:(36.11/36.26)*1em;
}
.icon-search {
	font-size:(15.84/10)*1rem;
	width:(15.92/15.84)*1em;
}
.icon-settings {
	font-size:(15.75/10)*1rem;
	width:(15.75/15.75)*1em;
}
.icon-sound {
	font-size:(23/10)*1rem;
	width:(24.51/23)*1em;
}
.icon-twitter {
	font-size:(21.8/10)*1rem;
	width:(26.5/21.8)*1em;
}
.icon-watch {
	font-size:(51/10)*1rem;
	width:(51/51)*1em;
}
